# ================================
# Arquivos de configuração/variáveis
# ================================
.env
venv/
.venv/

# ================================
# Arquivos temporários e de cache
# ================================
*.log
*.tmp
.DS_Store
__pycache__/
*.pyc
*.pyo
